/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// LAYERS
#define BASE 0
#define SYM  1
#define NUM  2
#define NAV  3
#define FUNC 4
#define FUN  5

// Keycodes
#define xxxxx &none
#define HYPER LC(LA(LG(LSHIFT)))
#define SCREEN LG(LS(N4))



/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <200>;
                        quick-tap-ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };
};

/ {
        combos {
                compatible = "zmk,combos";
                combo_caps_word {
                        timeout-ms = <30>;
                        bindings = <&caps_word>;
                        key-positions = <25 34>;
                };
                combo_toggle_fun {
                        timeout-ms = <30>;
                        bindings = <&lt FUN>;
                        key-positions = <39 40>;
                };
        };
};

/ {
	macros {
		emj_wave: emj_wave {
			label = "emj_wave";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
			  = <&macro_tap &kp COLON &kp W  &kp A &kp V &kp E &kp COLON>;
		};
	};
};

#define HRML(k1,k2,k3,k4,k5) &hm LCTRL k1  &hm LALT k2  &hm LGUI k3  &hm LSHFT k4 &hm HYPER k5
#define HRMR(k1,k2,k3,k4,k5) &hm HYPER k1  &hm RSHFT k2  &hm RGUI k3  &hm RALT k4  &hm RCTRL k5
#define LAYER(k1,k2,k3,k4,k5,k6) &lt NAV k1     &lt NAV k2      &kp k3  &lt FUNC k4      &lt SYM k5      &lt NUM k6 

/ {
        keymap {
                compatible = "zmk,keymap";

                BASE_layer {
			label = "qwerty";
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │          │
            xxxxx      &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  K       │  L       │          │
            xxxxx      HRML(A,    S,         D,         F,         G)             HRMR(H,    J,         K,         L,         SEMI)      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │  , <     │  . >     │  / ?     │          │
            xxxxx      &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   xxxxx
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                  LAYER(     ESC,       TAB,       SPACE,         RET,       BSPC,      DEL        )
        //   
                        >;
                };

                SYM_layer {
			label = "symbols";
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  {       │  &       │  *       │  '       │  }       │   │          │          │          │          │          │          │
            xxxxx      &kp LBRC   &kp AMPS   &kp STAR   &kp APOS   &kp RBRC       xxxxx       xxxxx     xxxxx      xxxxx      xxxxx      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  :       │  $       │  %       │  ^       │  +       │   │  HYPER   │  SHIFT   │  GUI     │  ALT     │  CTRL    │          │
            xxxxx      &kp COLON  &kp DLLR   &kp PRCNT  &kp CARET  &kp PLUS       &kp HYPER  &kp RSHIFT &kp LGUI  &kp LALT    &kp LCTRL  xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  `       │  !       │  @       │  #       │  |       │   │          │          │          │          │          │          │
            xxxxx      &kp GRAVE  &kp EXCL   &kp AT     &kp HASH   &kp PIPE       xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp LPAR  &kp RPAR    &kp MINUS      xxxxx      xxxxx      xxxxx
        //   
                        >;
                };    

                NUM_layer {
			label = "numbers";
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  [       │  7       │  8       │  9       │  ]       │   │          │          │          │          │          │          │
            xxxxx      &kp LBKT   &kp N7     &kp N8     &kp N9     &kp RBKT       xxxxx       xxxxx     xxxxx      xxxxx      xxxxx      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  ;       │  4       │  5       │  6       │  =       │   │  HYPER   │  SHIFT   │  GUI     │  ALT     │  CTRL    |          │
            xxxxx      &kp SEMI   &kp N4     &kp N5     &kp N6     &kp EQUAL      &kp HYPER  &kp RSHIFT  &kp LGUI  &kp LALT   &kp LCTRL  xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  ~       │  1       │  2       │  3       │  \       │   │          │          │          │          │          │          │
            xxxxx      &kp TILDE  &kp N1     &kp N2     &kp N3     &kp BSLH       xxxxx       xxxxx     xxxxx      xxxxx      xxxxx      xxxxx
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp N0     &kp DOT     &kp MINUS     xxxxx       xxxxx     xxxxx
        //   
                        >;
                };  

                NAV_layer {
			label = "nav";
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │          │   │          │          │          │          │          │          │
            xxxxx       xxxxx     xxxxx      xxxxx      xxxxx      xxxxx          &kp LG(C)  &kp LG(U)  &kp SCREEN &kp LG(X)  &kp LG(V)  xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  CTRL    │  ALT     │  GUI     │  SHIFT   │  HYPER   │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │          |          │
            xxxxx      &kp LCTRL  &kp LALT   &kp LGUI   &kp LSHIFT &kp HYPER      &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  xxxxx      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │   │          │          │          │          │          │          │
            xxxxx       xxxxx     xxxxx      xxxxx      xxxxx      xxxxx          &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    xxxxx      xxxxx
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp N0     &kp DOT    &kp MINUS      &kp RET    &kp BKSP   &kp DEL
        //   
                        >;
                };     

                FUNC_layer {
			label = "func";
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  12      │  7       │  8       │  9       │ bt next  │   │          │          │          │          │          │          |
            xxxxx      &kp F12    &kp F7     &kp F8     &kp F9     &bt BT_NXT     &kp LG(C)  &kp LG(U)  &kp SCREEN &kp LG(X)  &kp LG(V)  xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  11      │  4       │  5       │  6       │ bt prev  │   │  HYPER   │  SHIFT   │  GUI     │  ALT     │  CTRL    |          │
            xxxxx      &kp F11    &kp F4     &kp F5     &kp F6     &bt BT_PRV     &kp HYPER  &kp RSHIFT  &kp LGUI  &kp LALT   &kp LCTRL  xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  10      │  1       │  2       │  3       │  bt clr  │   │          │          │          │          │          │          │
            xxxxx      &kp F10    &kp F2     &kp F2     &kp F3     &bt BT_CLR     xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                             xxxxx      xxxxx      xxxxx          xxxxx      xxxxx      xxxxx
        //   
                        >;
                };           
        	
		    FUN_layer {
			label = "fun!";
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  12      │  7       │  8       │  9       │ bt next  │   │          │          │          │          │          │          |
            xxxxx      xxxxx      &emj_wave  xxxxx      xxxxx      xxxxx          xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  11      │  4       │  5       │  6       │ bt prev  │   │  HYPER   │  SHIFT   │  GUI     │  ALT     │  CTRL    |          │
            xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx          xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  10      │  1       │  2       │  3       │  bt clr  │   │          │          │          │          │          │          │
             xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx          xxxxx      xxxxx      xxxxx      xxxxx      xxxxx      xxxxx
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                             xxxxx      xxxxx      xxxxx          xxxxx      xxxxx      xxxxx
        //   
                        >;
                };           

        };
};
